* {
  box-sizing: border-box;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: white;

}

html {
	scroll-behavior: smooth;
}

body {
    letter-spacing: .2rem;
}
button:focus {
    outline: none;
}

.nav-link:hover {
    font-size: 25px;
    transition: all 3s ease;
}

header {
    width: 100%;
}

.about-back {
  background: linear-gradient(
    rgba(105,105,105,.8)60%,
    rgba(105,105,105,0)90%
  ),
  url(forest.jpg)center/cover no-repeat;
  background-attachment: fixed;
  box-shadow: 0 0 10px 5px black ;
  width: 85%;
  height: 100%;
}



.section-margin {
  padding-top: 166px;
}

#navbar {
  background: rgba(0,0,0,.7);
    position: fixed;
    top: 0;
    width: 100%;
}

.window {
  background: linear-gradient(
        rgba(0,0,0,.4),
        rgba(0,0,0,.4)
    ),
    url(brick.jpg)center/cover no-repeat;
    max-width: 100%;
    position: relative;
  box-shadow: 0 0 5px 3px black inset;
}


.ledge {
  box-shadow: 0px 0px 5px 5px black;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 200px;
  width: 95%;
}

.win-img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 75%;
  width: 90%;
  box-shadow: 0px 0px 5px 3px black;
}

/* .black-div {
  height: 166px;
  background: rgba(0,0,0,1);
} */

.intro {
    background: linear-gradient(
        rgba(0,0,0,1),
        rgba(0,0,0,0)
    );
    margin-bottom: 300px;
    height: 50%;
}

.nav-link {
    color: #DFE0E2!important;
}

.canvas {
    background: linear-gradient(
        90deg,
      rgba(255,127,80,.3),
      rgba(15,76,129,1)10% 90%,
      rgba(255,127,80,.3)
    );
    opacity: .9;
    border-radius: 10px;
    width: 70%;
    border-top: 5px solid rgba(255,127,80,.5);
    border-bottom: 5px solid rgba(255,127,80,.5);
}

h1,
.web,
h2 {
    color: #DFE0E2;
    /* font-family: 'Permanent Marker', cursive; */
}

.blue-line {
  width: 50px;
  box-shadow: 0 0px 3px 3px rgba(15,76,129,.7);
  margin: 3px 0 0;
}



.blue {
  width: 50%;
  box-shadow: 0 0px 5px 3px rgba(255,127,80,.4);
  margin: 0 auto 30px;
}

.blank-col {
  margin-top: 260px;
}


.underline {
  height: 3px;
  margin: 0 auto;
  background: linear-gradient(
    90deg,
  rgba(255,127,80,.7),
  rgba(15,76,129,1)25% 75%,
  rgba(255,127,80,.7)
);
  max-width: 100px;
}

.title-underline {
  height: 3px;
  margin: 0 auto;
  background: linear-gradient(
    90deg,
  rgba(255,127,80,.5),
  rgba(15,76,129,1)25% 75%,
  rgba(255,127,80,.5)
);
  min-width: 60%;
}

i,
h3 {
  color: rgba(0,0,0,1);
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.back-pic > p {
  color: rgba(0,0,0,1);
  padding: 20px 20px;
  font-size: larger;
}

@media (min-width: 576px) {
    .section-title {
        margin-top: 200px;
    }
    .header-row {
        display: none;
        clip-path: polygon(0 0, 100% 0, 100% 70%, 0 70%);
        height: 275px;
        background: linear-gradient(
            rgba(0,0,0,1),
            rgba(0,0,0,1)
        );
        margin-bottom: 100px;
    }

    .about-space{
        height: 300px;
    }
    /* .blue-line {
        width: 50px;
        background: rgba(15,76,129,.7);
        height: 0px;
        box-shadow: 0 0px 3px 3px rgba(15,76,129,.7);
        margin: 3px 0 0;
    } */
}